html, body {
	overflow-x: hidden;
}

#page-content-wrapper, .container-fluid {
	padding: 0;
}

.row-centered {
	text-align: center;
}

.col-centered {
	display: inline-block;
	float: none;
	text-align: left;
	vertical-align: top;
	margin-right: -4px;
}

#header {
	text-align: center;
	background: url('/img/logo/header.jpg');
	background-size: 110%;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-attachment: fixed;
}

#header img {
	max-width: 100%;
}

#pseudo_header {
	display: inline-block;
	margin: 0;
}

.sidebar-nav .glyphicon{
	width: 14px !important;
}

.sidebar-nav .glyphicon:before {
	position: relative;
	left: -20px;
}

.glyphicon-cog {
	vertical-align: middle;
}

#footer {
	margin: 10px 0 0 0;
	background-color: #222;
	color: #EEE;
	text-align: center;
	min-height: 50px;
	line-height: 50px;
}

#footer p {
	margin: 0;
}