.quiestenligne {
	list-style-type: none;
	padding: 0;
	margin: 5px 0 0 0;
}

.quiestenligne > li {
	display: inline-block;
	margin: 0 5px;
	width: 120px;
	height: 200px;
	text-align: center;
}

.quiestenligne > li img {
	display: inline-block;
	height: 143px;
	width: 120px;
}

.quiestenligne > li a {
	margin: 5px 0 0 0;
	width: 100%;
	display: inline-block;
}

.hidden-xs > form {
	display: inline-block;
}

.hidden-xs > form > *, .hidden-xs > input[type="text"], .hidden-xs > .btn {
	height: 30px;
}

.hidden-xs > input[type="text"] {
	width: 100%;
	max-width: 120px;
	padding: 0 0 0 5px;
}